@charset "UTF-8";

/* Tablets*/
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .container1 article {
        margin: auto;
        max-width: 600px;
    }
}


/*Grandes Telas*/
@media screen and (min-width: 1200px) {
    header {
        position: static;
        height: 70px;
    }

    ul {
        margin-left: 0;
    }

    ul > a {
        display: inline-block;
        text-align: center;
        padding: 20px;
        transition: .3s;
    }

    ul > a:hover {
        font-size: 1em;
        color: rgb(230, 230, 230);
        background-color: transparent;
        text-decoration: underline;
    }
    
    menu {
        position: static;
        left: 0px;
        background-color: transparent;
        justify-content: center;
        box-shadow: none;
        padding: 6px 20px;
        max-width: none;
        transition: none;
    }

    menu a {
        display: inline-block;
    }

    #habilidades {
        text-align: center;
    }

    #habilidades span {
        display: inline-block;
        background-color: #333;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.281);
        border-radius: 50%;
        margin: 80px 80px;
        width: 180px;
        height: 180px;
    }

    #h2Alinhamento1 {
        position: relative;
        top: 200px;
        left: 0px;
    }
    
    #h2Alinhamento2 {
        position: relative;
        top: 200px;
        left: 0px;
    }
    
    #h2Alinhamento3 {
        position: relative;
        top: 200px;
        left: 0px;
    }

    .container1 article {
        margin: auto;
        max-width: 600px;
    }
    
    .hamburguer {
        display: none;
    }   

    .iconDiaNoite {
        position: relative;
        top: -14.5vh;
        left: 40vw;
        display: flex;
        width: 50px;
        height: 50px;
    }
}
