@charset "UTF-8";

:root {
    --font1: 'Beaufort', cursive;
    --font2: 'Spiegel', cursive;

    --cor0: #1b1b1b;
    --cor1: #151AFF;
    --cor2: #4170FB;
    --cor3: #3BE357;
}


/* Celulares*/
@media screen and (min-width: 600px) and (max-width: 768px) {

}


/* Tablets*/
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .container1 article {
        margin: auto;
        max-width: 600px;
    }
}


/*Grandes Telas*/
@media screen and (min-width: 1200px) {
    header {
        position: static;
        height: 70px;
    }

    ul {
        margin-left: 0;
    }

    ul > a {
        display: inline-block;
        text-align: center;
        padding: 20px;
        transition: .3s;
    }

    ul > a:hover {
        font-size: 1em;
        color: rgb(230, 230, 230);
        background-color: transparent;
        text-decoration: underline;
    }
    
    menu {
        position: static;
        left: 0px;
        background-color: transparent;
        justify-content: center;
        box-shadow: none;
        padding: 6px 20px;
        max-width: none;
        transition: none;
    }

    menu a {
        display: inline-block;
    }

    .container1 article {
        margin: auto;
        max-width: 600px;
    }
    
    .hamburguer {
        display: none;
    }   
}
