@charset "UTF-8";

@font-face {
    font-family: 'Beaufort';
    src: url('../fonts/Beaufort-Heavy.ttf')
    format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Spiegel';
    src: url('../fonts/spiegel.ttf')
    format('truetype');
    font-display: swap;
}


* {
    margin: 0;
    padding: 0;
}

:root {
    --font1: 'Beaufort', cursive;
    --font2: 'Spiegel', cursive;

    --cor1: #151AFF;
    --cor2: #4170FB;
    --cor3: #3BE357;
}

html, body {
    text-align: justify;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: fixed;
    top: 0;
    background-color: #1b1b1b;
    padding: 0px 10px;
    width: 100vw;
    z-index: 999;
}

h1 {
    font-family: var(--font1);
}

p, h2 {
    font-family: var(--font2);
}

ul {
    list-style-type: none;
}

ul > li {
    display: block;
    padding: 20px;
    transition: .3s;
}

ul > li:hover {
    font-size: 1.3em;
    background-color: #333;
}

li a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

menu {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #1b1b1b;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    padding: 100px 20px;
    margin-bottom: 10px;
    transition: .8s ease;
    width: 100vw;
    max-width: 300px;
    height: 100vh;
}

#homeIntro {
    padding-top: 50%;
    background-color: var(--cor1);
    height: 55vh;
}

#homeIntro h1 {
    text-align: center;
    font-size: 2.5em;
    color: white;
}

#homeIntro h2 {
    text-align: center;
    font-weight: lighter;
    font-size: 1.4em;
    color: white;
}

#sobreMim {
    height: 100vh;
}

#sobreMim article {
    padding-top: 50px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
}

#sobreMim span {
    display: flex;
    background-color: #333;
    border-radius: 50%;
    align-items: center;
    margin: 100px auto;
    width: 180px;
    height: 180px;
}

.container {
    width: 96vw;
    margin: auto;
}

.menu.active {
    right: -100%;
}


input#hamburguer:checked ~label .hamburguer::after {
    transform: rotate(225deg);
    top: 45%;
    left: 15%;
    width: 70%;
    height: 10%;
}

input#hamburguer:checked ~label .hamburguer::before {
    transform: rotate(-405deg);
    top: 45%;
    left: 15%;
    width: 70%;
    height: 10%;
}

.hamburguer {
    display: block;
    position: relative;
    float: right;
    background-color: transparent;
    border-radius: 10%;
    margin-right: 30px;
    width: 70px;
    height: 70px;
    z-index: 999;
}

.hamburguer::after {
    content: "";
    position: absolute;
    top: 30%;
    left: 15%;
    background-color: white;
    border-radius: 20px;
    transition: 1s ease;
    width: 70%;
    height: 10%;
}

.hamburguer::before {
    content: "";
    position: absolute;
    top: 60%;
    left: 45%;
    background-color: white;
    border-radius: 20px;
    transition: 1s ease;
    width: 40%;
    height: 10%;
}

