@charset "UTF-8";
:root {
    --cor4: rgb(241, 241, 241);
    --cor5: rgb(41, 41, 41);
    --cor6: #161616;
}

.iconDiaNoite {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    background-color: var(--cor6);
    border-radius: 50%;
    border: 1px solid white;
    cursor: pointer;
    width: 60px;
    height: 60px;
}

.iconDiaNoite::before {
    content: "\f186";
    font-family: fontAwesome;
    color: white;
    font-size: 30px;
}

.body.dark {
    background: var(--cor5); 
}

.body.dark .iconDiaNoite {
    background-color: #333;
}

.body.dark .iconDiaNoite::before {
    content: "\f185";
}

.body.dark p {
    color: white;
}

.body.dark h1 {
    color: white;
}

.body.dark #sobreMim article > h1 {
    color: white;
}

.body.dark #habilidades h1 {
    color: white;
}

.body.dark #habilidades h2 {
    color: white;
}

.body.dark #projetos h1 {
    color: white;
}

.body.dark #contatos h1 {
    color: white;
}

.body.dark #homeIntro {
    background-color: var(--cor6);
}

.body.dark #contatos {
    border-top: 7px solid var(--cor6);
}

.body.dark .caixaProjetos {
    background-color: #444444;
}

.body.dark .caixaProjetos:hover {
    background-color: #707070;
    color: #202020;
}